:root {
  --background-card: #ededed;
  --accent-color: #e3b6b6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}
